@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Space+Mono');

/* ––––––––––––––––––––––––––––
   GENERAL STYLES
   –––––––––––––––––––––––––––– */

body {
    font-family: 'montserrat', sans-serif;
    font-size: 1rem;
    max-width: 100%;
    overflow-x: hidden;
    color: #222daa;
    text-align: left;
}

ol, ul {
    list-style: none;
    padding: 0;
}

img {
    width: 100%;
    margin-bottom: 60px;
}

::-moz-selection {
    background: #ED5656;
    color: white;
}

::selection {
    background: #ED5656;
    color: white;
}

.topsm {
    margin-top: 30px;
}

.topmd {
    margin-top: 50px;
}

.toplg {
    margin-top: 70px;
}

.topxl {
    margin-top: 100px;
}

.bottomoverlap {
    margin-top: 0px;
}

.topoverlap {
    z-index: 1;
}

.preview {
    margin-bottom: 0px;
}

.solid {
    height: 0;
    top: 0;
}


/* ––––––––––––––––––––––––––––
   TYPOGRAPHY
   –––––––––––––––––––––––––––– */

p {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #292929;
    font-weight: 400;
}

a {
    color: #222daa;
    text-decoration: underline;
    text-align: left;
    font-family: 'Space Mono', sans-serif;
}

a:hover {
    color: #ED5656;
    cursor: crosshair;
}

a:visited {
    text-decoration: none;
}

a:focused {
    text-decoration: none;
}

a:active {
    color: #222daa;
    text-decoration: none;
}

h1 {
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 14px;
}

h1 a {
    font-family: 'montserrat', sans-serif;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: none;
}

h2 {
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.2rem;
}

h3 {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2rem;
}

h3 a {
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
}

h4 {
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
}

h5 {
    font-family: 'Space Mono', sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;
}

h6 {
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.underline {
    border-bottom: 5px solid currentColor;
    display: inline-block;
    line-height: 1.4;
}


/* ––––––––––––––––––––––––––––
   NAVIGATION
   –––––––––––––––––––––––––––– */

nav {
    display: none;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    left: 0;
    background-color: #ffffff;
    padding: 10px 0 0px;
    z-index: 9999;
}

.menu li {
    padding: 0 20px 0 15px;
    display: inline-block;
}

.white {
    background-color: transparent;
}

.white a {
    color: #ffffff;
}


/* ––––––––––––––––––––––––––––
   HERO
   –––––––––––––––––––––––––––– */

.background {
    background-color: #222daa;
    color: #ffffff;
    opacity: 0;
    height: 95vh;
}

.herotext {
    padding-top: 30vh;
}

.herodetails {
    display: none;
}

/* ––––––––––––––––––––––––––––
   PROJECT PAGES
   –––––––––––––––––––––––––––– */

.projecthero {
    background-color: #F6F8F9;
    height: 500px;
    padding-top: 40px;
}

.menuproject {
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    left: 0;
    background-color: #fff;
    padding: 10px 0 0px;
}
.menuproject li {
    padding: 0 20px 0 15px;
    display: inline-block;
}

.push {
    margin-top: 50px;
}

.fade {
    opacity: 0;
}

.show {
    opacity: 1;
}

.show::before {
    opacity: 1;
}

.transition {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.transition::before {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.transition::after {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.side {
    font-family: 'Space Mono', sans-serif;
    position: fixed;
    top: 60%;
    left: 55px;
    text-align: right;
    white-space: nowrap;
    color: #222daa;
    z-index: 999;
    display: none;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}


/* ––––––––––––––––––––––––––––
   SECTIONS
   –––––––––––––––––––––––––––– */

#hero {}

#hero a {
    color: #ffffff;
}

#statement {
    padding-bottom: 120px;
}

#work {
    background-color: #F6F8F9;
}

#about {
    margin-top: 50px;
}

#about a {
    text-decoration: underline;
}

#contact {
    padding: 30vh 0 5vh;
    margin-top: 50px;
    color: #ffffff;
    background-color: #0E172D;
}

#contact a {
    color: #ffffff;
    text-decoration: underline;
}

#contact a:hover {
    color: #ED5656;
    ;
}


/* ––––––––––––––––––––––––––––
   PROJECTS
   –––––––––––––––––––––––––––– */

.inline {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: none;
}


/* ––––––––––––––––––––––––––––
   ABOUT ME
   –––––––––––––––––––––––––––– */

.bg {
    display: none;
}

.aboutimages {
    text-decoration: none;
}


/* ––––––––––––––––––––––––––––
   MEDIA QUERIES
   –––––––––––––––––––––––––––– */

/*for tablet*/

@media (min-width: 768px) {
    .herotext {
        padding-top: 20vh;
    }
    .push {
        margin-top: 100px;
    }
    .bottomoverlap {
        margin-top: -200px;
    }
}

/*for desktop*/

@media (min-width: 992px) {
    p {
    }
    h1 {       
        font-size: 2.1rem;
        line-height: 3rem;
    }
    h2 {
        font-weight: 400;
        font-size: 2.1rem;
        line-height: 3rem;
    }
    h3 {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 3.4rem;
    }
    h5 {}
    h6 {}
    img {}
    .photo {
        padding: 0;
        -webkit-box-shadow: -12px 12px 25px 0 rgba(0, 0, 0, 0.14);
        -moz-box-shadow: -12px 12px 25px 0 rgba(0, 0, 0, 0.14);
        box-shadow: -12px 12px 25px 0 rgba(0, 0, 0, 0.14);
    }
    .side {
        display: inline;
    }
    nav {
        display: inline;
    }
    .herotext {
        padding-top: 30vh;
    }
    .herodetails {
    display: block;
    }
    .bottomoverlap {
        margin-top: -300px;
    }

    #about {
        margin-top: 0;
        margin-bottom: 200px;
    }
    .solid {
        width: 100%;
        height: 420px;
        top: -130px;
        position: absolute;
        background: #ffffff;
        z-index: 0;
    }
    .preview {
        margin-bottom: 200px;
    }
    .menu {
        background-color: transparent;
        padding: 30px 60px 0;
    }
    .menu li {
    padding-left: 40px;
    padding-right: 0;
    }
    .menuproject {
        background-color: transparent;
        padding: 30px 60px 0;
    }
    .menuproject li {
    padding-left: 40px;
    padding-right: 0;
    }
    .projecthero {
        padding-top: 0;
    }
    .nav {
        text-align: right;
    }
    .details {
        visibility: visible;
    }
    .aboutimages {
        text-decoration: underline;
    }
    .aboutimages :hover{
        cursor: crosshair;
    }
    .bg {
        display: block;
        position: fixed;
        top: 20vh;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: 800px;
        z-index: -1;
        transition: .5s;
        margin: auto;
        width: 800px;
        pointer-events: none;
    }

    .aboutimages li:first-child:hover~.bg {
        background-image: url("../img/about/bsg.gif");
    }

    .aboutimages li:nth-child(2):hover~.bg {
        background-image: url("../img/about/type.gif");
    }

    .aboutimages li:nth-child(3):hover~.bg {
        background-image: url("../img/about/lonelyisland.gif");
    }

    .aboutimages li:nth-child(4):hover~.bg {
        background-image: url("../img/about/rickandmorty.gif");
    }

    .aboutimages li:nth-child(5):hover~.bg {
        background-image: url("../img/about/chetfaker.gif");
    }

    .aboutimages li:nth-child(6):hover~.bg {
        background-image: url("../img/about/food.gif");
    }
    .topsm {
        margin-top: 40px;
    }
    .topmd {
        margin-top: 100px;
    }
    .toplg {
        margin-top: 220px;
    }
    .topxl {
        margin-top: 350px;
    }
}