/* ––––––––––––––––––––––––––––
   GENERAL STYLES
   –––––––––––––––––––––––––––– */

body {
    font-family: 'montserrat', sans-serif;
    font-size: 1rem;
    max-width: 100%;
    overflow-x: hidden;
    color: #222daa;
    text-align: left;
}
ol,
ul {
    list-style: none;
}
img {
    width: 100%;
    margin-bottom: 80px;
}

::-moz-selection { background: #f1c3b8; color:white;}
::selection { background: #f1c3b8; color:white;} 


.topsm {
    margin-top: 20px;
}
.topmd {
    margin-top: 50px;
}
.toplg {
    margin-top: 70px;
}
.topxl {
    margin-top: 100px;
}
.container {
    max-width: 1200px;
}
.shadow {
    padding: 0;
    -webkit-box-shadow: -12px 12px 25px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: -12px 12px 25px 0px rgba(0,0,0,0.14);
    box-shadow: -12px 12px 25px 0px rgba(0,0,0,0.14);
}

.bottomoverlap {
    margin-top: -300px;
}

.topoverlap {
    z-index: 1;
}

.bgcut{
    background-color: #F6F8F9;
    margin-top: -395px;
    padding-top: 395px;
    padding-bottom: 150px;
    margin-bottom: 100px;

}

/* ––––––––––––––––––––––––––––
   TYPOGRAPHY
   –––––––––––––––––––––––––––– */

p {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #292929;
}
a {
    color: #222daa;
    text-decoration: underline;
    text-align: left;
    font-family: 'Space Mono', sans-serif;
}
a:hover {
    color: #f1c3b8;
    cursor: crosshair;
}
a:visited {
    text-decoration: none;
}
a:focused {
    text-decoration: none;
}
a:active {
    color: #222daa;
    text-decoration: none;
}
h1 {
    font-weight: 700;
    font-size: 2.3rem;
    margin-bottom: 14px;
}

h1 a {
    font-family:'montserrat', sans-serif;
    text-decoration: none;
}

h1 a:hover {
    font-family:'montserrat', sans-serif;
    text-decoration: none;
}

h2 {
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
} 

h3 {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 300;
}


h3 a {
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
}

h4 {
    margin-top: 50px;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: left;
}
h5 {
    font-family: 'Space Mono', sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;
}
h6 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    color: #292929;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.underline {
    border-bottom: 5px solid currentColor;
    display: inline-block;
    line-height: 1.4;
}

/* ––––––––––––––––––––––––––––
   NAVIGATION
   –––––––––––––––––––––––––––– */

nav {
    display: none;
}
.menu {
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    left: 0;
    background-color: #fff;
    padding: 10px 0 10px;
}
.menu a {
    padding-left: 25px;
}
/* ––––––––––––––––––––––––––––
   HERO
   –––––––––––––––––––––––––––– */
.background {
    background-color: #222daa;
    color: #ffffff;
    opacity: 0;
    height: 90vh;
}


/* ––––––––––––––––––––––––––––
   PROJECT PAGES
   –––––––––––––––––––––––––––– */

.projecthero {
    background-color: #F6F8F9;
    height: 500px;
    padding-top: 40px;
}

.menuproject {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    left: 0;
    background-color: #fff;
    padding: 10px 0 10px;
}
.menuproject a {
    padding-left: 25px;
}
.namehero {
    font-size: 4rem;
    line-height: 5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
}

.push {
    margin-top: 50px;
}

.fade {
    opacity: 0;
}
.show {
    opacity: 1;
}
.show::before {
    opacity: 1;
}
.transition {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.transition::before {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.transition::after {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.side {
    font-family: 'Space Mono', sans-serif;
    position: fixed;
    top: 60%;
    left: 55px;
    text-align: right;
    white-space: nowrap;
    color: #222daa;
    z-index: 1;
    display: none;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}
/* ––––––––––––––––––––––––––––
   SECTIONS
   –––––––––––––––––––––––––––– */

#work {
}

#statement {
    padding-bottom: 120px;
}
#about {
    padding: 100px 0 0 0;
    text-decoration: underline;
}

#contact {
    padding: 220px 0 50px;
    margin-top: 200px;
    color: #ffffff;
    background-color: #0E172D;
}

#contact a {
    color: #ffffff;
    text-decoration: underline;
}
/* ––––––––––––––––––––––––––––
   PROJECTS
   –––––––––––––––––––––––––––– */

.inline {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: none;
}
/* ––––––––––––––––––––––––––––
   PRELOADER
   –––––––––––––––––––––––––––– */
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #222daa url(../img/ajax-loader.gif) 50% 50% no-repeat;
}
/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */

body.loading {
    overflow: hidden;
}
/* Anytime the body has the loading class, our
   modal element will be visible */

body.loading .modal {
    display: block;
}
/* ––––––––––––––––––––––––––––
   MEDIA QUERIES
   –––––––––––––––––––––––––––– */
/*for tablet*/
@media (min-width: 768px) { 
    .push {
        margin-top: 100px;
    }
}

/*for desktop*/
@media (min-width: 992px) {
    p {
        font-size: 1rem;
        line-height: 1.85rem;
    }
    h1 {
        font-size: 2.4rem;
        line-height: 3.4rem;
    }
    h2 {
        font-weight: 300;
        font-size: 2.4rem;
        line-height: 3.4rem;
    } 

    h3 {
        font-size: 1.8rem;
        line-height: 3.4rem;
    }

    h5 {} h6 {} img {} .photo {
        padding: 0;
        -webkit-box-shadow: -12px 12px 25px 0 rgba(0, 0, 0, 0.14);
        -moz-box-shadow: -12px 12px 25px 0 rgba(0, 0, 0, 0.14);
        box-shadow: -12px 12px 25px 0 rgba(0, 0, 0, 0.14);
    }
    .side {
        display: inline;
    }
    nav {
        display: inline;
    }
    .herotext {
        padding-top: 30vh;
    }
    .menu {
        background-color: transparent;
        padding: 30px 60px 0;
    }
    .menuproject {
        background-color: transparent;
        padding: 30px 60px 0;
    }
    .projecthero {
        padding-top: 0;
    }
    .namehero {
    font-size: 6rem;
    }
    .nav {
        text-align: right;
    }
    .details {
        visibility: visible;
    }
    .topsm {
        margin-top: 40px;
    }
    .topmd {
        margin-top: 100px;
    }
    .toplg {
        margin-top: 220px;
    }
    .topxl {
        margin-top: 350px;
    }
}